.box{
    border: 1px solid #ccc;
    width: 550px;
    height: 430px;
    display: none;
    z-index: 10000;
    position: fixed;
    background-color:#ffffff;
    top: 35%;
    left: 40%;
}
#cover{
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #000 none repeat scroll 0% 0%;
}


.userName{
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid;
    padding-left: 10px;
}

.user_Box{
    padding-left: 80px;
    padding-top: 40px;
    font-size: 18px;
}


.permission_box{
    padding-left: 80px;
    font-size: 18px;
}


.description{
    padding-left: 80px;
    padding-top: 20px;
    font-size: 18px;
}



.text_description{
    width: 260px;
    height: 140px;
}

.confirm{
   position: absolute;
   right: 370px;
   bottom: 30px;
   background-color: #1E9FFF;
   border-color: #1E9FFF;
}

.cancel{
    position: absolute;
    right: 100px;
    bottom: 30px;
}


.idCard{
    padding-left: 80px;
    padding-top: 20px;
}


.idIput{
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid;
    padding-left: 10px;
}

.update{
    position: absolute;
    right: 235px;
    bottom: 29px;
}