{% extends 'base.html' %}


{% block page_title %}
<h4 class="page-title">柱状图</h4>
{% endblock %}

{% block chart %}
<li class="admin-parent">
    <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}">
        <i class="am-icon-line-chart" aria-hidden="true"></i> 统计图表
        <span class="am-icon-angle-right am-fr am-margin-right"></span>
    </a>
    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
        <li>
            <a href="/chart_line/{{ fname }}" class="am-cf"> 折线图</span>
            </a>
        </li>
        <li>
            <a href="/chart_columnar/{{ fname }}" class="am-cf"> 柱状图</span>
            </a>
        </li>
        <li>
            <a href="/chart_pie/{{ fname }}" class="am-cf"> 饼状图</span>
            </a>
        </li>
        <li>
            <a href="/chart_scatter/{{ fname }}" class="am-cf">散点图</span>
            </a>
        </li>
    </ul>
</li>
{% endblock %}

<!-- ============================================================== -->
<!-- Start right Content here -->
{% block content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="am-g">
            <div class="am-u-md-6">
                <!-- 折线图堆叠 -->
                <div class="card-box">
                    <div id="columnar1" style="width: 100%;height: 400px;"></div>
                </div>
            </div>

            <div class="am-u-md-6">
                <!-- 堆叠区域图  -->
                <div class="card-box">
                    <div id="columnar2" style="width: 100%;height: 400px;"></div>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-md-6">
                <!-- Step Line -->
                <div class="card-box">
                    <div id="columnar3" style="width: 100%;height: 400px;"></div>
                </div>
            </div>

            <div class="am-u-md-6">
                <!-- 大数据面积图  -->
                <div class="card-box">
                    <div id="columnar4" style="width: 100%;height: 400px;"></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
<!-- end right Content here -->