<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Forgot Password</title>
		<link rel="stylesheet" href="../static/css/core.css" />
		<link rel="stylesheet" href="../static/css/menu.css" />
		<link rel="stylesheet" href="../static/css/amazeui.css" />
		<link rel="stylesheet" href="../static/css/component.css" />
		<link rel="stylesheet" href="../static/css/page/form.css" />
	</head>
    <body>
    <div class="account-pages">
        <div class="wrapper-page">
                <div class="text-center">
	                <a href="/index" class="logo"><span>Admin<span>to</span></span></a>
	            </div>

	            <div class="m-t-40 card-box">
	            	<div class="text-center">
	                    <h4 class="text-uppercase font-bold m-b-0">Forgot Password</h4>
	                </div>
                    <div class="panel-body">
                        <form class="am-form"  method="POST" action="">
                            <div class="am-g">
                                <div class="am-form-group">
							      <input type="text" class="am-radius"  placeholder="Username" name="username">
							    </div>

                                <div class="am-form-group form-horizontal m-t-20">
							      <input type="password" class="am-radius"  placeholder="Password" name="password">
							    </div>

                                <div class="am-form-group form-horizontal m-t-20">
							      <input type="password" class="am-radius"  placeholder="Password" name="password2">
							    </div>

                                <div class="am-form-group form-horizontal m-t-20">
							      <input type="text" class="am-radius"  id="mobile" name="mobile" placeholder="Phone">
                                  <input type="button" id="forcode" onclick="settime(this)" value="免费获取验证码" class="btn btn-success">
							    </div>

                                <div class="am-form-group ">
                                    <button type="submit" class="am-btn am-btn-primary am-radius" style="width: 100%;height: 100%;">确认提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!--手机号码输入框代码-->
<div class="form-group">
    <label for="mobile" class="col-lg-2 col-sm-2 control-label">手机号码:</label>
    <div class="col-lg-10">
        <div class="input-group m-bot15">
    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号码">
    <span class="input-group-btn">
         <input type="button" id="forcode" onclick="settime(this)" value="免费获取验证码" class="btn btn-success">
    </span>
        </div>
    <p class="help-block">请填写绑定手机号</p>
    </div>
</div>
    <script type="text/javascript" src="../static/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="../static/js/page_recoverpw.js"></script>
 </body>
</html>