{% extends 'base.html' %}

{% block logo %}
<a href="/file_upload" class="logo">
    <span class="am-icon-folder">
        <span>点击导入数据</span>
    </span>
    <i class="zmdi zmdi-layers"></i>
</a>
{% endblock %}

{% block page_title %}
<h4 class="page-title">权限管理</h4>
{% endblock %}


<!-- ============================================================== -->
<!-- Start right Content here -->
{% block content %}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="card-box">
            <!-- Row start -->
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default " id="increase">
                                <span class="am-icon-plus "></span> 新增</button>
                            <button type="button" class="am-btn am-btn-default" onClick="delAll(this)" value="allconfirm">
                                <span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="button" id="search">搜索</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- Row start -->
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main" id="mytable">
                            <thead>
                                <tr>
                                    <th class="table-check">
                                        <input type="checkbox" id="selectAll" />
                                    </th>
                                    <th class="table-title">用户名</th>
                                    <th class="table-type">拥有权限</th>
                                    <th class="table-author am-hide-sm-only">联系方式</th>
                                    <th class="table-author am-hide-sm-only">所在岗位</th>
                                    <th class="table-set">所属部门</th>
                                    <th class="table-set">操作</th>
                                </tr>
                            </thead>
                            <tbody id="listTable">
                                <tr id="trObj">
                                    {% for i in data.user_list %}
                                        <tr>
                                            <td><input type="checkbox" name="ids"/></td>
                                            <td>{{ i.username }}</td>
                                            <td>{{ i.power }}</td>
                                            <td>{{ i.phone }}</td>
                                            <td>{{ i.job }}</td>
                                            <td>{{ i.dept }}</td>
                                            <td>
                                                <input class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                                       onclick="modify(this)" type="button" value="修改">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        <div class="am-cf">
                      共 {{ data.total }} 条记录
                      <div class="am-fr">
                        <ul class="am-pagination">
                          <li class="am-disabled">
                            <a href="#">«</a>
                          </li>
                            {% for n in data.pages %}
                                <li><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                            {% endfor %}
                          <li>
                            <a href="#">»</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                <hr />
                    </form>
                </div>

            </div>
            <!-- Row end -->
        </div>
    </div>

    <!-- 弹出框 -->
    <div class="box" id="box">
        <h4>修改用户权限</h4>
        <form>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>用户名</th>
                    <td>
                        <input type="text" class="userName form-control" id="userName"  autocomplete="off" name="username" readonly>
                    </td>
                </tr>
                <tr>
                    <th>当前权限</th>
                    <td>
                        <select id="permission" class="permission form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>具体描述</th>
                    <td>
                        <select id="permission1" class="permission form-control">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="update">
                            <button type="button" onclick="update(this)" class="btn btn-success">
                                <a href="" id="get_username2" class="confirm_a">确定</a>
                            </button>
                        </div>
                        <div class="cancel" id="cancel">
                            <button type="button" class="btn btn-info">
                                <a href="#" class="cancel_a">取消</a>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="cover">
    </div>
</div>
{% endblock %}
<!-- end right Content here -->
