{% extends 'base.html' %}


{% block page_title %}
<h3 class="page-title">个人信息</h3>
{% endblock %}


<!-- ============================================================== -->
<!-- Start right Content here -->
{% block content %}
		<!-- Start right Content here -->
		<div class="content-page am-u-md-10  am-u-sm-12">
			<!-- Start content -->
			<div class="content">
				<div class="am-g">
					<!-- Row start -->
						<div class="am-u-sm-12">
							<div class="card-box">
								<ul class="am-nav am-fr">
								  <li class="am-dropdown" data-am-dropdown>
								    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
								       <span class="am-icon-caret-down"></span>
								    </a>
								    <ul class="am-dropdown-content">
								      <li>1231234</li>
								      <li>1231234</li>
								      <li>1231234</li>
								      <li>1231234</li>
								    </ul>
								  </li>
								</ul>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <h3><label class="col-sm-2 control-label">头像</label></h3>
                                        <div class="col-sm-5">
                                            <img src="../static/img/avatar-1.jpg" class="img-circle img-thumbnail img-responsive">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h3><label class="col-sm-2 control-label">昵称</label></h3>
                                        <div class="col-sm-5">
                                            <input class="form-control"  value="{{user.username}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h3><label class="col-sm-2 control-label">联系方式</label></h3>
                                        <div class="col-sm-5">
                                            <input class="form-control" value="{{user.phone}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h3><label class="col-sm-2 control-label">部门</label></h3>
                                        <div class="col-sm-5">
                                            <input class="form-control" value="{{user.dept}}" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <h3><label class="col-sm-2 control-label">岗位</label></h3>
                                        <div class="col-sm-5">
                                            <input class="form-control" value="{{user.job}}" readonly>
                                        </div>
                                    </div>
                                </div>
								<div class="clearfix"></div>
							</div>
						</div>
					<!-- Row end -->
				</div>
			</div>
		</div>
		<!-- end right Content here -->
{% endblock %}